<table class="table table-striped table-hover">
    <thead>
        <tr>
            @foreach (var columnName in ColumnNames)
            {
                <th>@columnName</th>
            }
        </tr>
    </thead>
    <tbody>
       @ChildContent
    </tbody>
</table>

@code{
    [Parameter]
    public RenderFragment ChildContent{ get; set; }
    [Parameter]
    public List<string> ColumnNames { get; set; }
}