@using Models
<div class="tab-pane fade" id="car" role="tabpanel" aria-labelledby="car-tab">
    <div class="container">
        <div class="row mt-3">
            <div class="col tabParam">
                Brand
            </div>
            <div class="col">
                @Car.Brand
            </div>
        </div>
        <div class="row mt-3">
            <div class="col tabParam">
                Model
            </div>
            <div class="col">
                @Car.Model
            </div>
        </div>
        <div class="row mt-3">
            <div class="col tabParam">
                Fuel Type
            </div>
            <div class="col">
                @Car.FuelType
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Car Car { get; set; }
}
