@page "/users";
@inherits UsersBase

<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <h2>User <b>Management</b></h2>
        </div>
        <div class="col-7" align="right">
            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Filled.Add" Color="Color.Info" Link="/register">Add New User</MudButton>
        </div>
    </div>

    @if (Users == null)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-2">
            <div class="table-responsive">
                <Table ColumnNames="@(new List<string> {"#", "Name", "Registration Date", "Role", "Status", "Actions"})">
                    @foreach (var user in Users)
                    {
                        <UsersTableRecord User="user" OnUserAccountRemoved="UserRemoved"></UsersTableRecord>
                    }
                </Table>
            </div>
        </div>

        <div class="clearfix">
            <Pagination NumberOfPages="NumberOfPages" CurrentPage="CurrentPage" Radius="3" SelectedPage="SelectedPage"></Pagination>
        </div>
    }
</div>
