@using Services;

@inject ISnackbar Snackbar

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="mr-3 mb-n1" />
            Edit
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer MaxWidth="MaxWidth.Large">
            <EditForm Model="@Role" OnValidSubmit="EditRole">
                <div class="row">
                    <MudTextField Label="Name" Class="mt-3"
                                  @bind-Value="Role.Name" For="@(() => Role.Name)" />
                </div>
                <div class="row">
                    <MudTextField Label="Description" Class="mt-3"
                                  @bind-Value="Role.Description" For="@(() => Role.Description)" />
                </div>
                <br />

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto">
                    @if (currentState == taskStates.Started.ToString())
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }

                    Edit
                </MudButton>
            </EditForm>
        </MudContainer>
    </DialogContent>
    <DialogActions></DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public Role Role { get; set; } = new();

    [Inject] public IRolesService RolesService { get; set; }

    private enum taskStates { Started, Ended };
    private string currentState = "";
    private bool expand = false;

    private void Cancel()
    {
        MudDialog.Cancel();
    }

    protected async Task EditRole()
    {
        currentState = taskStates.Started.ToString();
        var state = await RolesService.EditRoleAsync(Role);
        currentState = taskStates.Ended.ToString();

        if (state is true)
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
            Snackbar.Add("Status edited successfully.", Severity.Success);

            MudDialog.Close(DialogResult.Ok(true));
        }
        else
        {
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomCenter;
            Snackbar.Add("Something went wrong. Couldn't edit the status.", Severity.Success);
        }
    }
}