@page "/users";
@inherits UsersBase

<div class="container-xl">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h2>User <b>Management</b></h2>
                </div>
                <div class="col-7" align="right">
                    <a href="#" class="btn btn-outline-info"><i class="bi bi-plus-circle"></i> <span>Add New User</span></a>
                </div>
            </div>

            @if (Users == null)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <Table ColumnNames="@(new List<string> {"#", "Name", "Registration Date", "Role", "Status", "Actions"})">
                        @foreach (var user in Users)
                        {
                            <UsersTableRecord User="user"></UsersTableRecord>
                        }
                    </Table>
                </div>
            }

        <div class="clearfix">
            <Pagination NumberOfPages="NumberOfPages" CurrentPage="CurrentPage" Radius="3" SelectedPage="SelectedPage"></Pagination>
        </div>
        </div>
    </div>
</div>