@using IntelligentCarManagement.Models

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date Created</th>
            <th>Role</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Users)
        { 
            <UsersTableRecord User ="@user"></UsersTableRecord>
        }
    </tbody>
</table>

@code{
    [Parameter]
    public IEnumerable<User> Users { get; set; }
}