@page "/users";
@inherits UsersBase

<div class="container-xl">
    <div class="container-fluid">
        <div class="container">
                <div class="row">
                    <div class="col-5">
                        <h2>User <b>Management</b></h2>
                    </div>
                    <div class="col-7" align="right">
                        <a href="#" class="btn btn-outline-info"><i class="bi bi-plus-circle"></i> <span>Add New User</span></a>
                    </div>
                </div>

            @if (Users == null)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else
            {
                <div class="table-responsive">
                    <UsersTable Users="@Users"></UsersTable>
                </div>
            }

            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>