@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<div>
    @Body
</div>

@code {
    private MudTheme _currentTheme = new MudBlazorAdminDashboard();
}